extends ./structure/layout.jade

block content
  include structure/navbar.jade

  if !user
    div.container
      h1 Welcome
      p
        | Please
        a(href='/login')  log in
        | .
  else
    div.container
      h1 Hello, #{ user.username }!
      p
        | View your
        a(href='/profile')  profile
        | .
  div.container
    include partials/a.jade