extends structure/layout.jade

block content
  include structure/navbar.jade
  .container
    .row
      .col-md-4
        | ID
      .col-md-4
        | #{ user.id }
    .row
      .col-md-4
        | Username
      .col-md-4
        | #{ user.username }
    .row
      .col-md-4
        | Name
      .col-md-4
        | #{ user.displayName }
    if user.emails
      .row
        .col-md-4
          | Email
        .col-md-4
          | #{ user.emails[0].value }
      a(href='/logout') Log out
